.buttons {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 15px;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(4, 100px);
}

.container {
  height: 650px;
  display: flex; 
  align-items: center;
}

.button {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
}
