.buttons {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 15px;
  grid-template-columns: repeat(4, 100px)
  grid- template- rows: minmax(120px, auto) repeat(5, 100px)
}

.button {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
}